/javaCodes/deneme01/JavaApplication1/nbproject/private/
/javaCodes/deneme01/JavaApplication1/build/
/javaCodes/JavaApplication/nbproject/private/
/javaCodes/JavaApplication/build/
/javaCodes/JlistDemo/nbproject/private/
/javaCodes/JlistDemo/build/
